/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* Estilos base para botones de desplegable en la aplicación */
.alert {
  background-color: rgba(211, 211, 211, 0.7); /* Fondo gris claro con opacidad */
  color: black;
  border: 1px solid #ccc;
  border-radius: 10px;
  opacity: 0.75;
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Estilos específicos para los detalles del ejercicio en Workout.js */
.workout-details {
  background-color: rgba(211, 211, 211, 0.7); /* Cambiado a gris claro con opacidad para coincidir con el contenedor del nombre del ejercicio */
  border: none;
  padding: 10px 20px;
  color: black; 
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
  width: 100%; 
  margin: 0; 
  text-align: center; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  font-family: 'Arial', sans-serif; /* Asegurar la misma tipografía */
  border-radius: 10px; /* Esquinas redondeadas */
}

/* Estilo para los detalles del ejercicio */
.exercise-details {
  font-size: 2.5rem; /* Tamaño más grande para el texto de repeticiones y series */
  color: black;
  font-weight: bold; /* Mismo grosor que el temporizador */
  font-family: 'Arial', sans-serif; /* Asegurar la misma tipografía */
}

/* Contenedor para cada set, incluyendo el número y el botón */
.set-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px; /* Espacio mayor entre sets */
}

/* Estilo para el número del set */
.set-number {
  font-size: 3rem; /* Tamaño más grande para el número de set */
  margin-right: 10px; /* Espacio entre el número y el botón */
  color: black;
  font-weight: bold; /* Mismo grosor que el temporizador */
  font-family: 'Arial', sans-serif; /* Asegurar la misma tipografía */
}

/* Estilos para los botones de series dentro del menú desplegable */
.set-btn {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: black;
  padding: 20px 25px; /* Aumentar padding para hacer los botones más grandes */
  border-radius: 5px;
  cursor: pointer;
  width: 70px;  /* Tamaño mayor para los botones de check */
  height: 70px; 
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem; /* Tamaño más grande para el texto del botón */
  font-weight: bold; /* Mismo grosor que el temporizador */
  font-family: 'Arial', sans-serif; /* Asegurar la misma tipografía */
  position: relative;
}

.set-btn.completed {
  background-color: #dff0d8; 
  color: #3c763d; 
}

/* Contenedor para los botones de series para asegurar alineación y distribución */
.sets {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  gap: 15px; /* Espacio mayor entre botones */
  align-items: center; 
}

/* Estilos para el cronómetro */
.timer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.timer {
  background-color: #333333;
  color: #9ACD32;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 100%; /* Ajusta el ancho del contenedor del cronómetro para que sea igual al contenedor de sets */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; /* Asegurar la misma tipografía */
}

.time {
  font-size: 2em;
  font-weight: bold;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.pause-btn, .reset-btn {
  background-color: #9ACD32;
  color: #333333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
}

.pause-btn:hover, .reset-btn:hover {
  background-color: #7CB342;
  color: #FFFFFF;
}
